.badge img {
    width: 20px;
    height: auto;
}

.scrollable-content {
    max-height: 425px; 
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    height: auto; 
    width: auto; 
    overflow: hidden;  
}

.card-img-top {
    width: 100%;
    height: 50%;
}

.card {
    height: 237px;
}

